.nav-bar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 30px;
    padding: 20px;
}
.input{
    margin-left: 260px;
    border: 1px solid white;
    color:black;
}
.click-button{
    border: 1px solid white;
    color: white;
    background-color: black;
}
.heading{
    color: gray;
}